html{
    align-items: center;
    align-content: center;
    background-color: forestgreen;
    
}

h1{
   text-align: center;
   font: bolder;
   font: size 100px;;
}
button{
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: large;
}

img{

    height: 1000px;
    width: 700px;
    border-image: round;
    border-style: double;
    border-radius: 15%;
    border-width: 50px;
    
}

h2{
    text-align: center;
    font: bolder;
    font-size: 90px;
 }